@media screen and (max-width: 2000px) {

    html,
    body {
        background: url(../img/fond.jpg) no-repeat;
        background-size: 100%;
    }
}

@media screen and (max-width: 1366px) {

    html,
    body {
        background: url(../img/fond2.jpg) no-repeat;
        background-size: 100%;
    }
}

@media screen and (max-width: 640px) {

    html,
    body {
        background: url(../img/fond2.jpg) no-repeat;
        background-size: 100%;
    }
}

#products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-top: 3%;
    text-align: center;
  
}

.text-change {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    color: white;
}

.panier {
    position: absolute;
    margin-left: 222px;
    margin-top: 25px;
}

html,
body {
    height: 100%;
    margin: 0;
}
#card-product{
    display: none;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 
/* CSS MODAL CART */

.productContainer {
    justify-content: space-around;
    margin: 0 auto;
}

.productContainer ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid lightgray;
    margin: 0 auto;
}

.productsCart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.productsCart img {
    width: 10%;
    align-items: center;
    padding-right: 2%;
}


.product-title-cart {
    width: 45%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}



.price-cart {
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.quantity-cart {
    width: 25%;
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: flex-start;
}

.total-cart {
    width: 15%;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}


.productsCart {
    width: 100%;
    display: flex;
    align-items: center;

}

.basketTotalContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}


/* END OF MODAL CART */