
/* @media screen and (max-width: 1500px) {

    html,
    body {
        background: url(../img/fond.jpg) no-repeat;
        background-size: 100%;
    }
}

@media screen and (max-width: 1366px) {

    html,
    body {
        background: url(../img/fond2.jpg) no-repeat;
        background-size: 100%;
    }
}

@media screen and (max-width: 640px) {

    html,
    body {
        background: url(../img/fond2.jpg) no-repeat;
        background-size: 100%;
    }
} */

.text-change {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
}

.panier {
    position: absolute;
    margin-left: 222px;
    margin-top: 25px ;
}
html,
body {
    height: 100%;
    margin: 0;
    
}

